@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
* + * {
  /* border: 1px solid red;  */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* color: white; */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #0242ff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #b40105;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  max-width: 100vw;
}

nav {
  /* From https://css.glass */
background: rgba(187, 190, 207, 0.2);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(221, 10, 10, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
/* border: 1px solid rgba(78, 107, 252, 0.3); */
}

.btn {
  background: rgba(0, 42, 253, 0.2);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(221, 10, 10, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(134, 152, 239, 0.3);
background-image: linear-gradient(to right, hsl(237, 48%, 37%) 30%,  hsla(6, 63%, 58%, 0.9)  100%);
}

/* .whitespace {
  width: 100%;
  shape-margin: 1;
} */

         
.btn-grad {
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.service_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: minmax(auto, 1fr);
  gap: 20px;
}

.testimonial_card {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  gap: 20px;
  grid-template-areas:
    "question1 question2 question2 question2"
    "question3 question3 question3 question4"
    "question5 question5 question5 question5";
  /* grid-template-columns: ; */
}
.question1 {
  grid-area: question1;
  position: relative;
}

.question2 {
  grid-area: question2;
  position: relative;
}

.question3 {
  grid-area: question3;
  position: relative;
}

.question4 {
  grid-area: question4;
  position: relative;
}

.question5 {
  grid-area: question5;
  position: relative;
}


/* Tablet Layout */
@media (min-width: 768px) and (max-width: 1023px) {
  .testimonial_card {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-areas:
      "question1 question2"
      "question3 question4"
      "question5 question3";
    /* "question4 question4"
      "question5 question5"; */
  }
}

/* Mobile Layout */
@media (max-width: 767px) {
  .testimonial_card {
    /* grid-template-columns: 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    grid-template-areas:
      "question1 question1"
      "question2 question2"
      "question3 question3"
      "question4 question4"
      "question5 question5";
  }
}
/* Mobile Layout */
@media (max-width: 767px) {
  .service_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: minmax(auto, 1fr);
    gap: 20px;
  }
}
.fullbg {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-origin: content-box; */
  background-position: cover;
}

.fullbgAuto {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-origin: content-box; */
  background-position: cover;
}

.aboutGrid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.message_box::after {
  content: '""';
  position: absolute;
  right: 0;
  width: 50px;
  height: 10px;
}

