/* @import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
* + * {
  /* border: 1px solid red;  */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* color: white; */
}
/* Scrollbar Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #b40105;
}

body {
  /* position: relative; */
  color: black;
  /* align/ */
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  /* font-family: "Public Sans", sans-serif; */
  font-family: "Mulish", sans-serif; 
  /* font-family: "Poppins", sans-serif;  */
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  max-width: 1810px;
  min-width: 250px;
}

.about::after {
  position: absolute;
  content: "Key Features";
  top: 0%;
  color: #0048ff44;
  z-index: -1;
  /* right: 50%; */
  /* text-align: center; */
  font-size: 100px;
  /* font-size: clamp(12px, 40vw, 100px); */
}

.steps::after {
  position: absolute;
  content: "Steps To Better Health";
  /* line-height: 1; */
  top: -0%;
  color: #0048ff44;
  z-index: -1;
  /* right: 50%; */
  /* text-align: left; */
  font-size: 100px;
}
.why::after {
  position: absolute;
  content: "About Denurx";
  /* line-height: 1; */
  top: -1%;
  color: #0048ff44;
  z-index: -1;
  /* right: 50%; */
  font-size: 100px;
}

.services::after {
  position: absolute;
  content: "Our Quality Services";
  /* line-height: 1; */
  top: -1%;
  color: #0048ff44;
  z-index: -1;
  /* right: 50%; */
  font-size: 100px;
}
.blog::after {
  position: absolute;
  content: "Blog";
  top: -1%;
  color: #0048ff44;
  z-index: -1;
  /* right: 50%; */
  font-size: 100px;
}
.register::after {
  position: absolute;
  content: "Join Us Now";
  /* line-height: 1; */
  top: -1%;
  color: #0048ff44;
  z-index: -1;
  /* right: 50%; */
  font-size: 100px;
}
.faq::after {
  position: absolute;
  content: "Frequent Questions";
  /* line-height: 1; */
  top: -1%;
  color: #0048ff44;
  z-index: -1;
  /* right: 50%; */
  font-size: 100px;
}

.testimonialsContainer::before {
  position: absolute;
  content: '"';
  top: 4%;
  left: 5px;
  color: #9a9c9ffd;
  z-index: 1;
  font-family: gdg;
  /* right: 50%; */
  font-size: 50px;
}
.testimonialsContainer::after {
  position: absolute;
  content: '"';
  bottom: -0%;
  right: 5px;
  color: #9a9c9ffd;
  z-index: 1;
  /* right: 50%; */
  font-size: 50px;
}

.magicpattern { 
  width: auto;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22%3E%3Cstop offset=%220%25%22 stop-color=%22%230047FF%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23eaecf0%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M625 716.5Q250 933 250 500t375-216.5q375 216.5 0 433Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M625 716.5Q250 933 250 500t375-216.5q375 216.5 0 433Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
.magicpattern2 { 
  width: auto;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M625 716.5Q250 933 250 500t375-216.5q375 216.5 0 433Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22none%22 stroke=%22%23444cf7%22 stroke-width=%2240%22 d=%22M625 716.5Q250 933 250 500t375-216.5q375 216.5 0 433Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}



/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background: #0242ff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}



.footerOverlay {
  background: rgba(187, 190, 207, 0.2);
/* box-shadow: 0 4px 30px rgba(221, 10, 10, 0.1); */
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
filter: drop-shadow(0 0 20px rgb(56, 53, 53));
}
.transparentOverlay {
  background: rgba(112, 115, 122, 0.5);
  /* box-shadow: 0 4px 30px rgba(221, 10, 10, 0.1); */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(187, 190, 207, 0.9); */
  /* filter: drop-shadow(0 0 20px rgb(56, 53, 53)); */
}
.navSidebar {
  /* all: unset; */
  background: hsla(231, 40%, 87%, 1);
  /* border-radius: 16px; */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}


/* .whitespace {
  width: 100%;
  shape-margin: 1;
} */



.service_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  /* grid-template-rows: minmax(auto, 1fr); */
  gap: 20px;
  /* place-items: center;
  place-self: center;
  place-content: center;
  align-content: center; */
  align-items: center;
  justify-items: baseline;
  justify-content: center;
  grid-auto-columns: auto;
  /* margin: 0 auto; */
}

.serciveCard::after{
  content: "";
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 40px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  /* border-bottom-left-radius: 0px; */
  top: -10px;
  right: -10px;
  /* Mobile Layout */
}
@media (max-width: 640px) {
  .serciveCard::after {
    /* background: #000; */
    width: 50px;
    height: 50px; 
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    top: 0;
    right: 0;
  }
}

.testimonials::after {
  position: absolute;
  content: "Words From Others";
  top: -1%;
  color: #0048ff44;
  z-index: -1;
  /* right: 50%; */
  font-size: 100px;
}

/* .testimonial_card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  gap: 20px;
  grid-template-areas:
    "question1 question2 question2 question2"
    "question3 question3 question3 question4"
    "question5 question5 question5 question5";
} */
.question1 {
  grid-area: question1;
  position: relative;
}

.question2 {
  grid-area: question2;
  position: relative;
}

.question3 {
  grid-area: question3;
  position: relative;
}

.question4 {
  grid-area: question4;
  position: relative;
}

.question5 {
  grid-area: question5;
  position: relative;
}

/* Tablet Layout */
/* @media (min-width: 768px) and (max-width: 1023px) {
  .testimonial_card {
    grid-template-areas:
      "question1 question2"
      "question3 question4"
      "question5 question3";
  }
} */

/* Mobile Layout */
/* @media (max-width: 767px) {
  .testimonial_card {
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    grid-template-areas:
      "question1 question1"
      "question2 question2"
      "question3 question3"
      "question4 question4"
      "question5 question5";
  }
} */

/* Mobile Layout */
@media (max-width: 767px) {
  .service_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: minmax(auto, 1fr);
    gap: 20px;
  }
}

.features_card {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(auto, auto)); */
  gap: 30px;
  grid-template-areas:
    "feature1  feature1 feature1 feature2"
    "feature3 feature3 feature3 feature2"
    "feature4 feature4 feature4 feature4";
  /* grid-template-columns: ; */
}

.feature1 {
  grid-area: feature1;
  /* Mobile Layout */
@media (max-width: 767px) {
  justify-content: center;
}
  /* position: relative; */
}

.feature2 {
  grid-area: feature2;
  @media (max-width: 767px) {
    justify-content: center;
  }
  /* display: flex; */
  /* background: #000; */
  /* flex-direction: column; */
  /* position: relative; */
}

.feature3 {
  grid-area: feature3;
  /* display: inline-flex; */
  align-items: center;
  @media (max-width: 767px) {
    justify-content: center;
  }
  /* background: #000; */
  /* flex-wrap: wrap; */
  /* width: 100%; */
  /* position: relative; */
}

.feature4 {
  grid-area: feature4;
  @media (max-width: 767px) {
    justify-content: center;
  }
  /* position: relative; */
}


.aboutGrid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.message_box::after {
  content: '""';
  position: absolute;
  right: 0;
  width: 50px;
  height: 10px;
}

/* Tablet Layout */
@media (min-width: 768px) and (max-width: 1023px) {
  .features_card {

  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(auto, auto)); */
  /* background: #000; */
  gap: 30px;
  grid-template-areas:
    "feature1  feature1 feature1 feature1"
    "feature2 feature2  feature2 feature3"
    /* "feature2 feature2  feature2 feature3" */
    "feature4 feature4 feature4 feature3";
  }
}

/* Mobile Layout */
@media (max-width: 767px) {
  .features_card {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    /* grid-template-rows: repeat(auto-fill, minmax(auto, auto)); */
    /* background: red; */
    gap: 30px;
    grid-template-areas:
      "feature1  feature1 feature1 feature1"
      "feature2 feature2 feature2 feature2"
      "feature3 feature3 feature3 feature3"
      "feature4 feature4 feature4 feature4";
  }
}

/* Tablet Layout */
@media (min-width: 768px) and (max-width: 1023px) {
  .about::after {
    font-size: 72px;
  }
  .steps::after{
    font-size: 72px;
  }
  .why::after{
    font-size: 72px;
  }
  .services::after{
    font-size: 72px;
  }
  .blog::after {
    font-size: 72px;
  }
  .register::after {
    font-size: 72px;
  }
  .faq::after {
    font-size: 72px;
  }
}

/* Mobile Layout */
@media (max-width: 767px) {
 .about::after {
  font-size: 50px;
  }
  .steps::after{
    font-size: 50px;
  }
  .why::after{
    font-size: 50px;
  }
  .services::after{
    font-size: 50px;
  }
  .faq::after {
    font-size: 50px;
  }
  .faq::before {
    position: absolute;
    content: "?";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Mullish;
    color: #0048ff44;
    z-index: -1;
    font-size: 400px;

  }
  .blog::after {
    font-size: 50px;
  }
  .register::after {
    font-size: 50px;
  }
}